<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
<<<<<<< HEAD
      <li>{{#link-to 'tweets'}}Home{{/link-to}}</li>
=======
      <li>{{#link-to 'tweets'}}tweets{{/link-to}}</li>
>>>>>>> bd6d71e4b0f41c3a0f705c3b9d19d1adc07d7347
    </ul>
  </nav>

  {{outlet}}

</div>
