<div class="row">

  <div class="col-md-6">
<<<<<<< HEAD
    <h6> Posted: {{date}}</h6>
    <h5>{{msg}}</h5>

=======
    <h5>{{msg}}</h5>
>>>>>>> bd6d71e4b0f41c3a0f705c3b9d19d1adc07d7347
  </div>


  <div>
    {{outlet}}
  </div>

</div>
