<h1>Twitter uh huh</h1>

  <div class="row">


    <div class="col-md-12">

      <form id="twitter-form" class="form-inline" role="form">
        <div class="form group">
          {{input id='twit' class="form-control" value=msg}}
        </div>
        <button class="btn btn-danger" {{action 'addTweet'}}>Rumble</button>
      </form>

      {{#each}}

      <h5>{{#link-to 'tweet' this.id}}{{msg}}{{/link-to}}</h5>
      <hr style="height:2px;border:none;color:#333;background-color:#333;" />

      {{/each}}
    </div>



  <div>
    {{outlet}}
  </div>

</div>
